.header {
  padding: 1.4rem 1.8rem;
  @include BoxShadow(2);

  &__container {
    @include Flex(wrap, row, center, space-between);
  }
  &__title {
    display: block;
    height: 100%;
    color: ColorAlpha(GetColor(black), 0.85);
    @include GetFontSize(big, $p-fonts);
    letter-spacing: 0.25px;
    font-weight: GetWeight(medium);
  }
}
