.tabs {
  &__list {
    height: 4.8rem;
    width: 100%;
    @include Flex(nowrap, row, stretch, center);
  }
  &__tab {
    transition: border-color 0.3s ease;
    flex: 1 1;
    border-bottom: 0.2rem solid transparent;
    @include Flex(nowrap, row, center, center);

    svg {
      fill: GetColor(grey);
    }
    span {
      color: GetColor(grey);
      display: none;
      padding-left: 0.8rem;
      transition: color 0.3s ease;
      font-weight: GetWeight(medium);
      @include GetFontSize(default, $p-fonts);
      @include Media(tablet) {
        display: block;
      }
    }
    &--active {
      border-bottom: 0.2rem solid GetColor(primary);
      svg {
        fill: GetColor(primary);
      }
      span {
        color: GetColor(primary);
      }
    }
  }
  &__content {
    @include Flex(wrap);
    margin-top: 4.5rem;
  }
}
