@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

// sclae 10px=1rem
html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: ColorAlpha(GetColor(black), 0.9);
}

p {
  color: ColorAlpha(GetColor(black), 0.6);
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  font-size: GetFontSize(small, $p-fonts);
  font-weight: GetWeight(medium);
  letter-spacing: 1.25px;

  &:hover {
    cursor: pointer;
  }
}

button,
input,
textarea,
input[type='submit'],
input[type='search'],
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  border: none;
  outline: none;
  border: none;
  background: none;
  box-shadow: none;
}

.app-container {
  @include Media(extraLarge) {
    width: 110rem;
    margin: 0 auto;
  }
}
