$p-fonts: (
  default: 1.6rem,
  small: 1.4rem,
  big: 2rem,
);

$h1-fonts: (
  default: 4.2rem,
);

$h2-fonts: (
  default: 2.4rem,
);

@mixin ImplementTypography($name, $array) {
  @each $property, $fontSize in $array {
    @if $property == $name {
      font-size: $fontSize;
    }
  }
}
